.header {
  margin-top: 40px;
  margin-bottom: 40px;
}

.container {
  display: flex;
  gap: 12px;
}

.items {
  overflow-y: scroll;
  height: 606px;
  width: 800px;
}

.wrapper {
  position: relative;
}

.backBtn {
  position: absolute;
  top: 23px;
  right: 0;
  padding: 8px 16px;
  color: #DDD;
  border: 1px solid #DDD;
  border-radius: 6px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 700px;
    height: 1px;
    background-color: #DDD;
    right: 171.5px;
    top: 17.5px;
    cursor:auto;
  }
}
