.card {
  height: 418px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.img {
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
}

.text {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
}
