.map {
  border: none;
  border-radius: 12px;
}

.title {
  color: #8B8B8B;
  font-size: 20px;
  line-height: 130%;
  font-weight: 500;
  width: 100%;
}

.text {
  color: #282828;
  font-weight: 600;
  line-height: 110%;
  font-size: 40px;
}

.link {
  width: 43px;
  height: 43px;
  display: block;
}

.infoContainer {
  padding: 32px;
  background-color: #F1F3F4;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-content: flex-start;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 780px 548px;
  gap: 32px;
  margin-top: 40px;
  margin-bottom: 32px;
}

.container {
  margin-top: 80px!important;
  margin-bottom: 80px!important;
}
